## Importing librarie

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Importing Dataframes

In [4]:
path = r"/Users/katalysenko/Documents/Instacart Basket Analysis"

In [5]:
# Import of prods

df_prods = pd.read_csv(r"/Users/katalysenko/Documents/Instacart Basket Analysis/02 Data/Original Data /products.csv",index_col = False)

In [6]:
df_prods.shape

(49693, 5)

In [2]:
# Import the orders_products_combined dataframe

df_ords_prod_comb = pd.read_pickle(r"/Users/katalysenko/Documents/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl")

In [3]:
# Check the shape of the imported dataframe

df_ords_prod_comb.shape

(32434489, 11)

## Determine a suitable way to combine the orders_products_combined dataframe with  the products data set

In [7]:
df_ords_prod_comb.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [8]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
# The common column is "product_id". Merge the dataframes based on the "product_id" column

df_merged_data = df_ords_prod_comb.merge(df_prods, on = 'product_id', indicator = True)

In [15]:
df_merged_data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [17]:
df_merged_data.shape

(32434212, 15)

## Confirm the result using merge flag

In [16]:
df_merged_data['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

## Export data

In [21]:
df_merged_data.to_pickle(os.path.join(r"/Users/katalysenko/Documents/Instacart Basket Analysis/02 Data/Prepared Data/orders products merged.pkl"))